<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink=".." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok" (click)="updateWidget()">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold">
      Widgets Edit
    </a>
  </div>
</nav>


<div class="container" *ngIf="curWidget">
  <div *ngIf="flag"
       class="alert alert-danger">
    {{error}}
  </div>
  <form novalidate name="model.myform">
    <div class="form-group">
      <label for="Name">Name</label>
      <input [(ngModel)]="curWidget.name"
             type="text"
             class="form-control"
             id="Name"
             name="widname"
             placeholder="Name"
             required>
      <span class="alert-class"
            *ngIf="flag">{{alert}}</span>
    </div>
    <quill-editor [(ngModel)]="curWidget.text" name="text"></quill-editor>
  </form>
  <p></p>

  <a class="btn btn-danger btn-block "
     ng-click="model.deleteWidget(model.widget)">Delete</a>

</div>
